@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #241E20;
  color: #fff;
  padding: 1rem;
}

header > h1 {
  font-family: "Honk", system-ui;
  font-size: 2.2em;
  text-align: center;
  padding-top: 20px;
  color: white;
  margin-bottom: 20px;
}

header > a {
  float: left; 
  margin-left: 40px;
  text-decoration: none;
  margin-top: 30px;
  background-color: #FDDE0A;
  padding: 15px;
  border-radius: 7px;
  cursor: pointer;
  color: #fff;
  position: absolute; /* Travar a posição da div*/
}

header > a:hover {
  background-color: #fddd0abf;
  color: rgba(255, 255, 255, 0.715);
  transition: ease 0.5s;
  border-radius: 7px;
}

a > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin: auto;
}

.fundo {
  background-image: url(../imagens/fundo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: grid;
  gap: 1rem;
  padding: 2rem;

}

.fruta {
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background:linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.305)),  url(../imagens/fundo3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fruta h2 {
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.784);
  color: #e60012;
  width: 145px;
  border-radius: 7px;
  padding: 8px;
  box-shadow: 2px 3px 10px #000000ac;
}

ul {
  margin: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  background-color: white;
  margin: 8px;
  box-shadow: 1px 1px 5px;
  width: 180px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

li > img {
  width: 150px;
  height: 115px;
  border-radius: 20px;
  filter: blur(0.6px);
  transition: transform 0.7s ease;
}

li > img:hover {
  transform: scale(1.1);
  filter: none;
}
    
li > span {
  margin-top: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333333d5;
  text-align: center;
  display: block;
}

@media screen and (max-width: 660px) {
  header > a {
    padding: 9px;
  }

  header > h1 {
    font-size: 1.8em;
    padding-top: 10px;
  }
  
  a > img {
    width: 20px;
    height: 20px;
  }
  li {
    width: 150px;
    height: 170px;
  }

  li > img {
    width: 120px;
    height: 90px;
  }

  .fruta h2 {
    width: auto;
    font-size: 1rem;
    padding: 5px;
  }
  
}