@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

/* --- VARIÃVEIS GLOBAIS E ESTILOS BASE --- */
:root {
  --cor-header: #262127;
  --cor-texto-claro: #fff;
  --cor-botao-voltar: #FDDE0A;
  --cor-botao-voltar-hover: #fddd0abf;
  --cor-titulo-grupo: #00539C;
  --cor-nome-local: #870100;
  --fonte-titulo: "Honk", system-ui;
  --fonte-corpo: Arial, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* --- HEADER PADRONIZADO COM FLEXBOX --- */
header {
  background-color: #262127;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header > a {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background-color:  #FDDE0A;
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  z-index: 2;
}

header > a:hover {
  background-color: #fddd0abf;
}

header > a img {
  width: 25px;
  height: 25px;
}

header > h1 {
  font-family: "Honk", system-ui;
  font-size: 1.8em;
  color: white;
  text-align: center;
  margin: 0;
}

/* --- MEDIA QUERY  --- */
@media screen and (min-width: 660px) {
  header > a {
    left: 2rem;
    padding: 0.75rem;
  }
  header > a img {
    width: 30px;
    height: 30px;
  }
  header > h1 {
    font-size: 2.2em;
  }
}