
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

/* --- VARIÁVEIS GLOBAIS E ESTILOS BASE --- */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

/* --- HEADER PADRONIZADO COM FLEXBOX --- */
header {
  background-color:  #241E20;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header > a {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #FDDE0A;
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  z-index: 2;
}

header > a:hover {
  background-color: #fddd0abf;
}

header > a img {
  width: 25px;
  height: 25px;
}

header > h1 {
  font-family: "Honk", system-ui;
  font-size: 1.8em;
  color: white;
  text-align: center;
  margin: 0;
}

.fundo {
  background-image: url(../imagens/fundo_onepiece.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.personagem {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
}

.personagem h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color:  #e60012;
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
}

.personagem ul {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1.5rem;
}

li {
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

li > img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1; 
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.75rem;
  border: 3px solid white
}

li:hover > img {
  transform: scale(1.05);
}

li > span {
  font-size: 0.9rem;
  font-weight: bold;
}

/* --- MEDIA QUERY  --- */
@media screen and (min-width: 660px) {
  header > a {
    left: 2rem;
    padding: 0.75rem;
  }

  header > a img {
    width: 30px;
    height: 30px;
  }

  header > h1 {
    font-size: 2.2em;
  }
}